input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;

  font-size: 16px;

  border: none;
  border-radius: 2px;
}

label {
  display: inline-block;
  width: 100%;
  padding-left: 2px;

  font-size: 14px;
  text-align: left;
}
