html,
body {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#app > div.buttons {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app > div.buttons button.sign-in-button {
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #f9f9f9;
  border: 1px solid #791930;
  border-radius: 2px;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button#google {
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #f9f9f9;
  border: 1px solid #808080;
  /* box-shadow: 2px 1px 0 #808080; */
  border-radius: 2px;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button#kakao {
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #f9f9f9;
  border: none;
  border-radius: 2px;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button#naver {
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border: 1px solid #808080;
  border-radius: 2px;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button#appleid-signin {
  border: none;
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #ffffff !important;
  border-radius: 2px;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button svg.logo {
  width: 20px;
  height: 20px;

  padding: 4px 10px;

  border-right: 1px solid #bdbdbd;
}

#app > div.buttons button.sign-in-button span {
  padding: 0 12px;
}

#app a#signup {
  display: inline-block;
  width: 250px;

  text-align: right;
  text-decoration: underline;
}

#app > section.register {
  width: 100%;
  height: 100%;
  padding: relative;
}

#app > section.register form.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  height: fit-content;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#app > section.register form button#submit {
  height: 30px;
  font-weight: bold;
  font-size: 18px;
}
