html,
body {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#app main {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

#app main .login {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 300px;
}

#app main .login .title {
  display: flex;
  /* flex-direction: column; */
  -webkit-box-pack: center;
  justify-content: flex-start;
  width: 300px;
  margin: 4px 0;
}

#app main .login .title span {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
}

#app main .email-input,
#app main .password-input {
  position: relative;
  width: 100%;
}

#app main .email-input input {
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: normal;
  border-color: rgba(154, 151, 161, 0.2);
  color: rgb(51, 51, 51);
  font-weight: 400;
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  border-image: initial;
  width: 100%;
  padding: 10px 10px 10px 14px;
  border-radius: 4px 4px 0px 0px;
}

#app main .password-input input {
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: normal;
  border-color: rgba(154, 151, 161, 0.2);
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  font-weight: 400;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  border-image: initial;
  width: 100%;
  padding: 10px 10px 10px 14px;
  border-radius: 0px 0px 4px 4px;
}

#app main .login-button-box {
  width: 100%;
  padding: 0px 0px 21px;
  border-bottom: 1px solid rgba(154, 151, 161, 0.2);
  margin: 16px 0px 0px;
}

#app main .login-button-box .login-button {
  background-color: rgb(248, 47, 98);
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: -0.1px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  line-height: 47px;
  height: 48px;
}

#app main .login-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin: 15px 0px 13px;
  opacity: 0.6;
}

#app main ul.login-list {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  text-align: center;
}

#app > div.buttons {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app .sign-in-button {
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: none;
  border: none;
  border-radius: 50%;

  font-size: 16px;
}

#app > div.buttons button.sign-in-button#google {
  width: 250px;
  height: 40px;
  margin: 12px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #f9f9f9;
  border: 1px solid #808080;
  /* box-shadow: 2px 1px 0 #808080; */
  border-radius: 2px;

  font-size: 16px;
}

button.sign-in-button#apple > img.logo-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

button.sign-in-button#apple > img.logo-hover:hover {
  opacity: 1;
}

#app a#signup {
  display: inline-block;
  width: 250px;

  text-align: right;
  text-decoration: underline;
}

#app > section.register {
  width: 100%;
  height: 100%;
  padding: relative;
}

#app > section.register form.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  height: fit-content;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#app > section.register form button#submit {
  height: 30px;
  font-weight: bold;
  font-size: 18px;
}
